<!-- views/applications/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a New Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Pantry</h1>
    <form action="/users/<%= user._id %>/foods" method="POST">

        <label for="foodName">Name:</label>
        <input type="text" name="foodName" id="foodName" />
      
        <label for="description">Description:</label>
        <textarea type="text" name="description" id="description"></textarea>
      
        <label for="cuisine">Cuisine:</label>
        <input name="cuisine" id="cuisine"></input>
      
        <label for="ingredients">Ingredients:</label>
        <input type="text" name="ingredients" id="ingredients" />
      
        <label for="instructions">Instructions:</label>
        <textarea id="instructions" name="instructions"></textarea>

        <button type="submit">Add Pantry</button>
    </form>
  </body>
</html>
